%body.homepage
  .container-principal
    = image_tag ("supplier.svg"), height: '600px'
    %div
      %h1 Gerencie o estoque de seu mercado de forma   fácil :)
      %h4 Utilize a barra superior para navegar no site.