/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-datepicker
 *= require_tree .
 *= require_self
 */

// Import Bootstrap and its default variables
@import "bootstrap";

body {
  font-family: 'Roboto', sans-serif;
}

.general-container {
  display: flex;
  flex-direction: row;
}

.crud-nav {
  width: 18rem;
  height: 100vh;
  background-color: #FAFBFC;
}

.crud-nav a {
  color: #000000;
}

.crud-nav span {
  margin-left: 1rem;
  font-size: 1rem;
}

.active {
  color: #FFFFFF !important;
  background-color: #F67F19;
}

.logo {
  height: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 50%;
}

.general-content {
  width: 100%;
  height: 100vh;
}

.page-header {
  margin-bottom: 2rem;
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin {
  background-color: #F0F0F0;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 1rem;
}

.user-icon {
  width: 3.125rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.gear-icon {
  width: 1.5rem;
  margin-left: 1rem;
}

.table-radius {
  border-radius: 0.5rem;
}

.table-radius th, .table-radius td {
  padding: 0.75rem;
}

.actions {
  display: flex;
  align-items: center;
}

.actions a {
  margin-right: 0.5rem;
}

.table-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}