/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-datepicker
 *= require_tree .
 *= require_self
 */

// Import Bootstrap and its default variables
@import "bootstrap";

body {
  font-family: 'Roboto', sans-serif;
}

.general-container {
  display: flex;
  flex-direction: row;
}

.crud-nav {
  width: 18rem;
  height: 100vh;
  background-color: #FAFBFC;
}

.crud-nav a {
  color: #000000;
}

.crud-nav span {
  font-size: 1rem;
}

.menu-icon {
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem;
}

.active {
  color: #FFFFFF !important;
}

.logo {
  height: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 50%;
}

.general-content {
  width: 100%;
  height: 100vh;
}

.page-header {
  margin-bottom: 2rem;
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin {
  background-color: #F0F0F0;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 7rem;
}

.exit-icon {
  width: 1.5rem;
}

.gear-icon {
  width: 1.5rem;
}

.table-radius {
  border-radius: 0.5rem;
}

.table-header {
  width: 100%;
}

.table-radius th, .table-radius td {
  padding: 0.75rem;
}

.actions {
  display: flex;
  align-items: center;
}

.actions a {
  margin-right: 0.5rem;
}

.table-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.login-box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  margin: 2rem;
  width: 25rem;
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 3rem 2rem 5rem 2rem;
}

.admin_username, .admin_password {
  font-weight: bold;
  font-size: 1rem;
}

.form-control {
  margin-bottom: 1rem;
}


.login-button {
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  padding: 0.5rem 0;
  width: 100%;
  margin-top: 1rem;
}

.logo-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.logo-login img {
  width: 14.6875rem;
  height: 8.465625rem;
  object-fit: scale-down;
}

.edit-organization {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.save-button {
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  padding: 0.25rem 1rem;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.separator {
  margin-top: 5rem;
}

.color-field {
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
  border: none;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-edit {
  width: 15rem
}

.logo-image {
  width: 7.8125rem;
  height: 4.25rem;
  margin-bottom: 1rem;
  object-fit: scale-down;
}

.table-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagination {
  margin-top: 0.5rem;
  font-size: 0.875rem;
}

.pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .pagination a, .pagination span {
    padding: 0.2em 0.3em; }
  .pagination .disabled {
    color: #aaaaaa; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .pagination a {
    text-decoration: none;
    color: black; }
    .pagination a:hover, .pagination a:focus {
      text-decoration: underline; }