// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.homepage {
  background-color: #0abab5;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}


.container-principal {
  width: 100%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}